
body {
  font-family: "Georgia",  "Arial";
  font-size: 1em;
}

a:hover {
  text-decoration: underline;
}

.nav-wrapper, .debrief {
  background-color: rgb(87,91,107);
  color: #fff;
}
.hired {
  font-size: 1.2em;
}
hr {
  color:#1CB78C;
}
img {
  max-width: 120%;
  max-height: 120%;
  margin:0;
  padding:0;
}
span {
  font-size: 1em;
  text-align: center;
  margin: 0;
}

ul li {
  font-size: .5em;
}
.topic {
  font-size: 1.1em;
}
