
body {
  font-family: "Georgia",  "Arial";
  font-size: 16px;

}

a:hover {
  text-decoration: underline;
}

.nav-wrapper {
  background-color: rgb(87,91,107);
  color: #fff;
}

hr {
  color:#1CB78C;
}
img {
  max-width: 50%;
  max-height: 50%
}
span {
  font-size: 70%;
  text-align: center;
  margin: 0;
}

ul li {
  font-size: 7px
}
